body {
  background: #003237;
}

/* Header */
.account-masthead{
	background: #000;
}
.masthead{
	background: #003237;
}

/* Footer */
.site-footer{
	background: #003237;
}

.media-item-ifpb {
  width: 100px !important;
  background-color: white;
}

.font-quicksand{
	font-family: Quicksand;
}