body {
  background: #003237;
}

/* Header */
.account-masthead{
	background: #000;
}
.masthead{
	background: #003237;
}

/* Footer */
.site-footer{
	background: #003237;
}

.font-quicksand{
	font-family: Quicksand !important;
}

/* Tamanho default do corpo central */
[role=main] {
  min-height: 500px !important;
}

._media-item {
  width: 100px !important;
}

.media-image-group{
	width: 60% !important;
}

.media-item {
	text-align: center;
}

._media-grid{	
	padding-left: 50px;
}