{% trans %}
<p align="justify">Portal de Dados Abertos da Unidade Acadêmica de Informática (UAI) do Instituto Federal da Paraiba - IFPB é uma ferramenta cujo objetivo principal é disponibilizar para toda a comunidade dados e informações públicas da Instituição, possibilitando a concretização do acesso à informação (regulamentado pela Lei de Acesso à Informação Pública - Lei nº 12.527/2011) e o acompanhamento do funcionamento da Universidade.</p>

<p align="justify">Os dados disponibilizados no Portal podem ser acessados por toda a população, além de utilizados para o desenvolvimento de aplicativos e ações realizadas pela própria Universidade e por outros órgãos públicos ou privados.</p>
{% endtrans %}
