{% block item %}
<li class="media-item">
  {% block item_inner %}
    {% block image %}
      <a href="{{app.app_url}}" target="_blank" title="Ir para o App {{app.name}}"><img src="{{ app.image_url or h.url_for_static('/base/images/placeholder-group.png') }}" alt="{{ app.name }}" class="media-image media-image-group"></a>
    {% endblock %}
    {% block title %}
      <h3 class="media-heading">{{ app.name }}</h3>
    {% endblock %}
    {% block description %}
      <p>{{ h.markdown_extract(app.description, extract_length=80) }}</p>
    {% endblock %}
    {% block edit %}
      {% if c.userobj %}
        <a class="btn btn-primary" href="/app/edit/{{app.id}}" >{{ _('Editar') }}</a>
      {% endif %}
    {% endblock %}
  {% endblock %}
</li>
{% endblock %}
