<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="fa fa-info-circle"></i>
    {{ _('Developers') }}
  </h2>
  <div class="module-content">
    <p>
      {% trans %}
        <p align="justify">Data.gov is a rich resource for civic hackers, tech entrepreneurs, data scientists, and developers of all stripes. Here you’ll find information about APIs, open source projects, and relevant developer resources across government. You’ll also find updates on the data.gov infrastructure itself, an open source project managed on GitHub.</p>
      {% endtrans %}
    </p>
  </div>
</div>
