<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="fa fa-info-circle"></i>
    {{ _('O que são Aplicativos?') }}
  </h2>
  <div class="module-content">
    <p>
      {% trans %}
        <p>Nesta área de Aplicativos, temos um catálogo criado para divulgar todo tipo de aplicativo com interface web, mobile ou até desktop que utilize um ou mais conjuntos de dados disponibilizados no #datapoa.</p>
        <p>Se você criou um novo aplicativo que utiliza os conjuntos de dados do #datapoa entre em contato e solicite a inclusão do seu aplicativo neste catálogo.</p>
        <p>Envie um email para ifpb@ifpb.edu.br - Coordenação de Inovação</a> contendo os dados do criador (nome, empresa, telefone de contato, ...), o nome do aplicativo, uma breve descrição, a sua URL para acesso ou site e uma URL para sua imagem ou logotipo.</p>
      {% endtrans %}
    </p>
  </div>
</div>