{% extends "page.html" %}

{% block subtitle %}{{ _('Aplicativo') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Aplicativos'), controller='ckanext.ifpb_theme.controllers.aplicativos:AplicativosController', action='index' %}</li>
{% endblock %}

{% block primary %}
  <article class="module">
    <div class="module-content">
      <h1 class="page-heading">{{ _('Aplicativos') }}</h1>
      <ul>
      	<li>
      		<b>OpenUAI</b>
      	</li>
      </ul>
    </div>
  </article>
{% endblock %}

{% block secondary %}{% endblock %}
